<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484583264243-jqbr9m4rctbiiqlqgn50qvo0rg7v7qa5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484583264243-jqbr9m4rctbiiqlqgn50qvo0rg7v7qa5</string>
	<key>API_KEY</key>
	<string>AIzaSyAqHawy6E32wzAdbZ9_uT5jtjni03uhhqE</string>
	<key>GCM_SENDER_ID</key>
	<string>484583264243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.HandsAndVoices</string>
	<key>PROJECT_ID</key>
	<string>handsandvoices-6605d</string>
	<key>STORAGE_BUCKET</key>
	<string>handsandvoices-6605d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484583264243:ios:c42ba8f26da139e0c7cc86</string>
	<key>DATABASE_URL</key>
	<string>https://handsandvoices-6605d.firebaseio.com</string>
</dict>
</plist>
